.thesis-form
  = form_for thesis, html: {class: "form"} do |f|
    .form-group
      = f.label :title
      = f.text_field :title

    .form-group
      = f.label :description
      = f.text_area :description

    .form-group
      = f.label :university
      = f.text_field :university

    .form-group
      = f.label :category
      = f.collection_select :category_id, Category.all, :id, :name

    %center
      = f.submit "Save thesis!", class: "btn btn-success"
