%table.table.table-bordered.table-striped.table-hover
  - if theses.empty?
    %h2
      There are no theses matching this category (yet)!
  -else
    %tr
      %th Title
      %th Participants
      %th Owner
      %th Action
      - theses.each do |t|
        %tr
        = t.available
        %td= t.participants.count
        %td= t.user.email
        %td= link_to "Show", thesis_path(t), class: "btn btn-info btn-bottom"
  - if user_signed_in?
    %center
      = link_to "Add new thesis", new_thesis_path, class: "btn btn-info btn-bottom"
