.jumbotron
  %h1
    = thesis.title
.thesis-description
  = thesis.description
  .pull-right
    %p
      = thesis.participants.count
      participants
      = thesis.participants_limit
      limit

%article
  -if thesis.description == nil
    %i
      %p There is no description for this thesis
  -else
    = thesis.description
-if current_user
  .pull-right
    = link_to 'Join', theses_join_path(thesis), class: 'btn btn-primary'

.thesis-author
  Author:
  = thesis.user.firstname
  = thesis.user.lastname

.container
  %h3 Thesis participants
  %ul
    - thesis.participants.each do |participant|
      %li="#{participant.firstname} #{participant.lastname}"
